<li id="comment-<%comments.id%>">
 

<p><%=comments.content%></p>
                                 
                                 
                                 <% if((locals.user) && (locals.user.id== p.user.id || locals.user.id== comments.user.id)){%>
                                  <a class="comment_delete_link" href="/post/comment/destroy/<%=comments.id%>">X</a>

                                   <%}%>
                                           
                              
                                 <small><%=comments.user.name%></small> 

</li>