<header>
    <ul>
       <% if(locals.user){ %>
       <li><a href="/users/profile/<%=user._id%>"><%=user.name%> </a></li>
       <li>
        <a href="/users/signout">Sign-out</a>
       </li>
       <%}else{%>
        <li>
            <a href="/users/signup">Sign-UP</a>
           </li>
           <li>
            <a href="/users/signin">Sign-IN</a>
           </li>
        
        <%}%>
    </li>
    </ul>
    <p>header</p>
</header>