<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <h1>signup</h1>

    <form action="/users/create" method="post">

        <input type="text" name="name" placeholder="name" required>
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="password" name="confirm" placeholder="confirm" requiured>        
       
        <input type="submit">


    </form>
    <p>
        <a href="/users/auth/google"> GOoGLE sign in/sign up</a>
      </p>

</head>
<body>
    
</body>
</html>